*{padding: 0;
 margin: 0;
 font-family: 'Raleway', sans-serif;}

/* header */
header{background-color: rgb(19, 19, 19);
 width: 100%;
 height: 5rem;
 display: flex;
 align-items: center;
 position: fixed;}

header .logo{display: flex;
 margin-left: 8rem;
 margin-right: 18rem;}

header h3{color: white;
 font-size: 2.5rem;}
    
header .hverde{color: rgb(111, 216, 111);
 font-size: 2.5rem;}

header nav a{text-decoration: none;
 color: white;
 font-size: 0.8rem;
 margin: 0 1rem;}
    header nav a:hover{text-decoration: underline;}

.boton{margin-left: 4rem;}

.boton .b1{font-size: 0.8rem;
 background-color: rgb(111, 216, 111);
 color: white;
 border-radius: 0.5rem;
 padding: 0.5rem 1rem;
 border-bottom: none;}

/* sec uno */
.hero{background-image: 
    linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)),
    url('../img/imghercopia.jpg');
 background-position: center;
 background-size: cover;
 background-repeat:no-repeat;
 height: 80vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;}
 
 .hero img{border-radius: 50%;
 width: 10rem;
 margin: 5% 0 1% 0;}

 .hero h1{color: rgb(111, 216, 111);}
 .hero p{color: white;
 margin-bottom: 0.9rem;}
 .icohero{border-radius: 4rem;
 padding: 0.9rem 0.1rem;
 border: 0.1rem solid rgb(111, 216, 111);
 background:none ;}
  .icohero:hover{border: 0.1rem solid black; cursor: pointer;}

/* sec  dos*/
.negro{background-color: rgb(10, 10, 10);
 color:white;
 width: 100%;}

 .margen{margin:auto 19rem;
 display: flex;
 justify-content: center;
 width: auto;} 

 .descubri{width: 60%;
 align-content: center;
 margin: 6rem 0;
 padding:1em;}
 .descubri:hover{background-color: rgb(31, 31, 31);
border-radius: 0.5rem;
padding:1em;}

 .descubri h4{color: rgb(111, 216, 111);
 font-size:small;}
 .descubri h1{margin-bottom: 0.6rem;}
 u{text-decoration:underline rgb(111, 216, 111) 0.14rem;}

 .descubri p{text-align: justify;
 font-size: 0.8rem;
 line-height: 1.2rem;}
 .habilidades{display: flex;
 flex-direction: column;
 margin-top: 1.2rem;}

 .habilidades button{margin-bottom: 0.8rem;
 padding: 0.16rem 1rem;
 background:  rgb(111, 216, 111); 
 color: white;
 border: none;
 display: flex;
justify-content: space-between;
 font-weight: bolder;}

 .habilidades button.html{background: linear-gradient(to right, rgb(111, 216, 111) 70%, white 30%);}
 .habilidades button.css{background: linear-gradient(to right, rgb(111, 216, 111) 80%, white 20%);}

/* sec tres */
 .cuadrados{background-image: 
   linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)),
   url('../img/cuadradoimg.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 justify-content: center;
 align-items: center;
 display: flex;
 color: white;
 height: 20rem;
 width: auto; }
  
 .caja{width: 14%;
 height: 8rem;
 background-color: rgb(30, 29, 29);
 display: flex;
 flex-direction: column;
 text-align: center;
 align-items: center;
 justify-content: center;
 border-radius: 0.5rem;
 border: 0.1rem dashed rgb(224, 222, 222);
 margin:0 0.6rem;}
 .caja h2{font-size: 2.5rem;}
 .caja h2:hover{font-size: 3rem;
   color: rgb(111, 216, 111);}
 .caja p{font-size: 1rem;}

 .cajados{ background-color: rgb(111, 216, 111);
 color: white;
 border-radius: 0.5rem;
 border-bottom: none;
 width: 14%;
 display: flex;
 flex-direction: column;
 text-align: center;
 align-items: center;
 justify-content: center;
 height: 8rem;
 margin:0 0.6rem;}
 .cajados h2{font-size: 2.5rem;}
 .cajados h2:hover{font-size: 3rem;
   color: rgb(30, 29, 29);}
 .cajados p{font-size: 1rem;}

/* sec cuatro */
.negrodos{background-color:rgb(10, 10, 10);
 color:white;
 padding: 4rem 0;
 width: 100%;}

 .negrodos .margen{display: flex;
 flex-direction: column;
 width: auto;
 margin: auto 19rem;}

 .doscolumnas{display: flex;
 justify-content: center;
 width: auto;}

 .col{background-color: rgb(30, 29, 29);
 border: 0.1rem solid rgb(111, 216, 111);
 border-radius: 1rem;
 margin: 1.5rem 0.5rem;
 padding: 2rem;
 width: 39%;}
 .col:hover {border: 0.1rem solid rgb(30, 29, 29);}
 .col h2{color: rgb(111, 216, 111);
 margin-top: 2rem;}
 .col p{font-size: 0.8rem;
 line-height: 1.2rem;
 margin-bottom: 0.8rem;
 margin-top:0.2rem;}

 .bot4{margin-top: 1.5rem;
 align-self: center;}

/* sec cinco */
 .portfolio{background-color: rgb(30, 29, 29);
 display: flex;
 flex-direction: column;
 color: white;
 width: 100%;
 justify-content: center;
align-items: center;}

 .portfolio .margencinco{ margin: 3rem 19rem;
 width: 60%;}

 .margencinco p{font-size: 0.8rem;
 line-height: 1.2rem;
 margin-top: 1rem;
 margin-bottom: 3rem;
 text-align: justify;}

 .puntos{display: flex;
 flex-direction: column;
 align-items: center;
 width: auto;}
 .puntos h1{color: rgb(111, 216, 111);}

 .linea-ptos {border-right: 0.1rem dashed white; 
 height: 3rem;}

 .imgportfolio{display: flex;
 justify-content: space-around;
 width: auto; }

 .imgp{width: 48%;
 border:0.3rem solid;
 margin: 0.5rem;}
 .imgp:hover{border:0.3rem solid rgb(111, 216, 111);}

 .botoncinco{margin-top: 1rem;} 
 .b2{border: 0.15rem solid white;
 color: white;
 background-color: transparent;
 padding: 0.3rem 1rem;
 text-align: center;}
    .b2:hover{background-color: black;
    border:0.15rem solid black;
    cursor: pointer;}

/* footer */
 .contactos{background-image: 
   linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)),
   url('../img/imgher.jpg');
 background-position: center;
 background-size: cover;
 color: white;
 width: 100%;
 padding: 5rem 0 8rem 0;}

 .margenfot{ display: flex;
 flex-direction: column;
 width: auto;
 margin: auto 19rem;
}

 .doscolumnasfoter{display: flex;
 width: 100%;
 justify-content: center;}

 .iconosfot{width: auto;
 margin-top: 2.5rem;
 margin-right: 1rem;}

 .icfot{ margin-top: 0.6rem;
 font-size: 0.8rem;}

 .icfot a{display: flex;
 text-decoration: none;
 color: white;
 align-items: center;}
 .icfot a:hover{color: rgb(111, 216, 111);}

 .icfot svg{margin-right: 0.8rem;}

.iconosfot .b1{margin-top: 1.5rem;
 margin-left: 1rem;}

 .linea-vertical {margin: 0 1.5rem;
 border-right: 1px solid rgb(111, 216, 111); 
 height: 17rem;}
  
 .formulario{margin-top: 0.8rem;
 display: flex;
 flex-direction: column;}

 .formulario p{margin-bottom: 2rem;}

 .formulario1{display: flex;
 width: auto;}

 input{border: 0.1rem solid rgb(111, 216, 111) ;
 border-radius: 0.4rem;
 background: none;
 margin-right: 0.4rem;
 margin-bottom: 0.5rem;
 padding: 0.4rem 9rem 0.4rem 0;
 cursor: pointer;}

 input.mensaje{padding-bottom: 4rem;}

 input::placeholder{font-size: 0.8rem;
 color: rgb(203, 196, 196);}
  
 .bfot{ color: rgb(111, 216, 111);
 border-radius: 0.4rem; 
 font-size: 0.8rem;
 border: none;
 padding: 0.5rem;
 width: 99%;
 cursor: pointer;}
  .bfot:hover{background-color: rgb(111, 216, 111);
 color: black;
 border: none;}

.derechos{background-color: rgb(111, 216, 111);
 display: flex;
 align-items: center;
 flex-direction: column;
 color: white;
 font-size: small;
 padding: 2rem;
 line-height: 1.3rem;}

/* etiquetas repetidas */
button.b1{background-color: rgb(111, 216, 111);
 color: white;
 border-radius: 0.5rem;
 padding: 0.5rem 1rem;
 border-bottom: none;
 border: none;
 font-size: 0.7rem;
 font-weight: bolder;
 align-items: center;
 text-align: center;}
  button.b1:hover {color: black;  cursor: pointer;}
 h1{font-size: 1.6rem;}


/* sector media queries */

/* pantalla profe */@media screen and (min-width:1920px) {
 /* header */
  header{ align-items: center;
    justify-content: left;
    position: fixed;}
   header .logo{display: flex;
     margin: auto 30rem auto 12rem;}
  .boton{margin-left:5rem;}

 /* sec  dos*/
  .negro{background-color: rgb(10, 10, 10);
    color:white;
    width: 100%;}
 .margen{margin:auto 23rem;
    display: flex;
    justify-content: center;
    width: auto;} 
 .descubri{width: 40%;}

 /* sec tres */
 .caja{width: 13%;
    height: 10rem;}

 .cajados{ width: 13%;
    height: 10rem;}

 /* sec cuatro */
 .negrodos .margen{display: flex;
    flex-direction: column;
    width: auto;
    margin: 3rem 23rem;}
 .doscolumnas{display: flex;
    justify-content: center;
    width: auto;}
 .col{ width: 35%;}

 /* sec cinco */
  .portfolio .margencinco{ margin: 3rem 23rem;
    width: 60%;
   align-items: center;}

 /* footer */
 .margenfot{margin: auto 23rem;}
                                                              }





/* @media screen and (max-width: 1440px) {} se ve bien*/

/*tablet*/ @media screen and (min-width:769px) and (max-width: 1024px) {   
 /* header */  
   header .logo{display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;    }
    header nav a{display: none;}
      .boton{display: none;}
      
  /* sec uno */
    .hero{ height: 60vh;}
 
  /* sec  dos*/
   .margen{margin:auto 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;} 
   .descubri{margin: 2.5rem 1.5rem;}
   
   /* sec cuatro */
   .negrodos{background-color:rgb(10, 10, 10);
    color:white;
    padding: 4rem 0;
    width: 100%;}
   .negrodos .margen{display: flex;
    flex-direction: column;
    width: auto;
    margin: auto 8rem;}
   .doscolumnas{display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;}
   .col{ margin: 1.5rem 0.5rem;
    padding: 2rem;
    width: 65%;}
   
 /* sec cinco */
    .portfolio{
    align-items: center;}
    .portfolio .margencinco{ 
     width: 70%;}
        
 /* footer */
    .margenfot{ display: flex;
    flex-direction: column;
    width: auto;
    margin: auto 10rem;}
   .doscolumnasfoter{display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;}
    .linea-vertical {display: none;}
    .formulario{margin-top: 2rem;}
    .formulario p{margin-bottom: 2rem;}
                                                 }

/*celular*/ @media screen and (max-width:768px) {
  /* header */
   header .logo{display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;}
   header nav a{display: none;}
   .boton{display: none;}
   
  /* sec  dos*/
  .negro{background-color: rgb(10, 10, 10);
    color:white;
    }
   .margen{margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;} 
   .descubri{width: 60%;
    margin: 2rem 0rem;}
   
 /* sec tres */
 .cuadrados{  flex-wrap: wrap;}
 .caja{width: 25%;
    height: 7rem;}
 .cajados{ 
    width: 25%;
    height: 7rem;}

 /* sec cuatro */
 .negrodos{background-color:rgb(10, 10, 10);
    color:white;
    padding: 4rem 0;}
 .negrodos .margen{display: flex;
    flex-direction: column;
    margin: auto;}
    .margen .soluc{ margin: auto;
      width: 60%;}
   .doscolumnas{display: flex;
    flex-direction: column;
    width: 60%;}
   .col{ width:auto;}

 /* sec cinco */
   .portfolio .margencinco{ margin: 3rem auto;
   width: 60%;}
   .imgp{width: 48%;
     border:0.3rem solid;
     margin: 0.5rem;}
  
 
 /* footer */
 .contactos{ padding: 4rem 0 6rem 0;}
 .margenfot{ display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;}
 .doscolumnasfoter{display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;}
 .iconosfot{width: auto;
    margin-top: 2rem;
    margin-right: 1rem;}         
 .linea-vertical {display: none;}
 .formulario{margin-top: 1.5rem;
    display: flex;
    flex-direction: column;}
 .formulario p{margin-bottom: 2rem;}
 .formulario1{display: flex;
    flex-direction: column;
    width: auto;}
                                                          }





