*{padding: 0;
margin: 0;
font-family: 'Raleway', sans-serif;}

header{background-color: rgb(33, 33, 33);
width: 100%;
height: 5rem;
display: flex;
justify-content: center;
align-items: center;
margin: auto;}

header .logo{display: flex;
margin-right: 20rem;}

header h3{color: white;
font-size: 2.5rem;}
    
header .hverde{color: rgb(111, 216, 111);
font-size: 2.5rem;}

header nav a{text-decoration: none;
color: white;
font-size: 0.8rem;
margin: 0 1rem;}
    header nav a:hover{text-decoration: underline;}

.boton{margin-left: 4rem;}

.boton .b1{font-size: 0.8rem;
background-color: rgb(111, 216, 111);
color: white;
border-radius: 0.5rem;
padding: 0.5rem 1rem;
border-bottom: none;}

/* sec uno */
.hero{background-image: 
    linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)),
    url('../img/imghercopia.jpg');
background-repeat:no-repeat;
height: 70vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;
width: 100%;}

.hero img{border-radius: 50%;
width: 10rem;
margin-bottom: 1rem;}

.hero h1{color: rgb(111, 216, 111);}
.hero p{color: white;
margin-bottom: 0.9rem;}
.icohero{border-radius: 4rem;
padding: 0.9rem 0.1rem;
border: 0.1rem solid rgb(111, 216, 111);
background:none ;}

/* sec  dos*/
.negro{background-color: rgb(10, 10, 10);
color:white;
width: 100%;}

.margen{margin:auto 20rem;
display: flex;
justify-content: center;
width: auto;} 

.descubri{flex-basis: 30rem;
align-content: center;
margin: 6rem 1.5rem;
width: auto;}

.descubri h4{color: rgb(111, 216, 111);
font-size:small;}
.descubri h1{margin-bottom: 0.6rem;}
u{text-decoration:underline rgb(111, 216, 111) 0.14rem;}

.descubri p{text-align: justify;
font-size: 0.9rem;
line-height: 1.2rem;}


.habilidades{display: flex;
flex-direction: column;
margin-top: 1.2rem;}

.habilidades button{margin-bottom: 1rem;
padding: 0.2rem;
background-color:rgb(111, 216, 111);
color: white;
border: none;
display: flex;
justify-content: space-between;}

/* sec tres */
.cuadrados{background-image: 
    linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)),
    url('../img/cuadradoimg.jpg');
background-repeat: no-repeat;
justify-content: center;
align-items: center;
display: flex;
color: white;
height: 20rem;
width: 100%;}

.caja{width: 11%;
height: 7rem;
background-color: rgb(44, 43, 43);
text-align: center;
border-radius: 0.5rem;
border: 0.5rem ;
padding: 0.5rem 1rem;
border: 0.1rem dashed white;
margin:0 0.6rem;}
.caja h2{font-size: 2.5rem;
margin-top: 1rem;}
.caja p{font-size: 1rem;}

.cajados{ background-color: rgb(111, 216, 111);
color: white;
border-radius: 0.5rem;
padding: 0.5rem 1rem;
border-bottom: none;
width: 11%;
text-align: center;
height: 7rem;
margin:0 0.6rem;}
.cajados h2{font-size: 2.5rem;
    margin-top: 1rem;}
.cajados p{font-size: 1rem;}

/* sec cuatro */
.negrodos{background-color:rgb(10, 10, 10);
color:white;
padding: 4rem 0;
width: auto;}

.negrodos .margen{display: flex;
flex-direction: column;
width: auto;
margin: auto 20rem;}

.doscolumnas{display: flex;}

.col{background-color: rgb(44, 43, 43);
border: 0.1rem solid rgb(111, 216, 111);
border-radius: 1rem;
margin: 1.5rem 0.5rem;
padding: 2rem;
width: 40%;}
.col h2{color: rgb(111, 216, 111);
margin-top: 2rem;}
.col p{font-size: 0.8rem;
line-height: 1.2rem;
margin-bottom: 0.8rem;
margin-top:0.2rem;}

.bot4{margin-top: 1.5rem;
align-self: center;}

/* sec cinco */
 .portfolio{background-color: rgb(44, 43, 43);
display: flex;
flex-direction: column;
color: white;
width: 100%;}

.portfolio .margencinco{ margin: 3% 18%;
width: auto;}

.margencinco p{font-size: 0.8rem;
line-height: 1.2rem;
margin-top: 1rem;
margin-bottom: 3rem;
text-align: justify;}

.puntos{display: flex;
    flex-direction: column;
    align-items: center;
width: 100%;}
.puntos h1{color: rgb(111, 216, 111);}

.linea-ptos {
    border-right: 0.1rem dashed white; 
    height: 3rem;}

.imgportfolio{display: flex;
justify-content: space-around;
width: auto;
margin: 1% 0 1% 0;}

.imgp{width: 48%;}

.botoncinco{margin-top: 1rem;} 
.b2{border: 0.15rem solid white;
    color: white;
    background-color: transparent;
    padding: 0.3rem 1rem;
text-align: center;}


/* footer */
.contactos{background-image: 
linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)),
url('../img/imgher.jpg'); 
color: white;
width: 100%;
padding: 4rem 0 12rem 0;}

.margenfot{ display: flex;
flex-direction: column;
width: auto;
margin: auto 18%;}

.doscolumnasfoter{display: flex;
width: 100%;
justify-content: center;}


.iconosfot{width: auto;
margin-top: 3.5rem;}



.icfot{display: flex;
margin-bottom: 0.4rem;
font-size: 0.8rem;}
.icfot p{margin-left: 1rem;}
.iconosfot .b1{margin-top: 1.5rem;
margin-left: 1rem;}


.linea-vertical {margin: 0 2rem;
    border-right: 1px solid rgb(111, 216, 111); 
    height: 17rem;}
  


.formulario{margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
width: auto;}

.formulario p{margin-bottom: 2rem;}

.formulario1{display: flex;}

input{border: 0.1rem solid rgb(111, 216, 111) ;
    border-radius: 0.4rem;
background: none;
margin-right: 0.4rem;
margin-bottom: 0.5rem;
padding: 0.6rem 9rem 0 0;
}

input.mensaje{padding-bottom: 4rem;}

input::placeholder{font-size: 0.8rem;
color: rgb(203, 196, 196);
text-align: left;}
  

.bfot{ color: rgb(111, 216, 111);
    border-radius: 0.4rem; 
    font-size: 0.8rem;
border: none;
padding: 0.5rem;}


.derechos{background-color: rgb(111, 216, 111);
display: flex;
align-items: center;
flex-direction: column;
color: white;
font-size: small;
padding: 2rem;
line-height: 1.3rem;}


/* etiquetas repetidas */
button.b1{background-color: rgb(111, 216, 111);
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border-bottom: none;
    border: none;
    font-size: 0.7rem;
font-weight: bolder;
align-items: center;
text-align: center;}

h1{font-size: 1.6rem;}

@media (hover:hover) {button.b1:hover {color: black;}}

/* 
La propiedad "width: auto" se utiliza para permitir que el ancho de un elemento se ajuste automáticamente según su contenido. Esto significa que el elemento ocupará el ancho mínimo necesario para contener su contenido sin desbordarse. Si el contenido del elemento es más ancho que el contenedor, el ancho se ajustará automáticamente para acomodar todo el contenido sin necesidad de desplazamiento horizontal.

Por otro lado, la propiedad "width: 100%" se utiliza para establecer el ancho de un elemento al 100% del ancho de su contenedor padre. Esto significa que el elemento ocupará todo el ancho disponible dentro de su contenedor. Si el contenedor tiene un ancho fijo o se establece un ancho máximo, el elemento se expandirá para llenar ese espacio.

En resumen, la diferencia entre "width: auto" y "width: 100%" radica en cómo se calcula el ancho del elemento. "Width: auto" se ajusta automáticamente según el contenido, mientras que "width: 100%" se expande para ocupar el ancho completo del contenedor padre. */